/*
//////////////////////////////////////////////

RentEase 2024

Luis F. Suarez
Diana Siguenza

//////////////////////////////////////////////
*/


.bodyindex {
	background: url(../assets/pexelswithe.jpg) no-repeat center scroll;
	opacity: 1; /* Valor de opacidad (entre 0 y 1) */
	}

.bodyindex input {
	height: 80px;
	}

.bodylogin {
background-color: #fff;
text-align: center;
}
  
* {
font-family: "verdana";
}

#main{
	margin: 50px;
	height: 100px;
	background-color: black;	
}

#image_index{	
	display: flex;
	justify-content: center;
	height: 300px;
	margin: 50px;
}

#image_index .imagen{
	height: 150px;

}

#formIndex{
	text-align: center;
	height: auto;
}

form {
	display: block;
	padding: 0px;
}

#formLogin {
	height: 300px;
}


.center{
	height: 50px;
	margin-bottom: 5px;
	align-content: center;
}


label {
	text-align: left;
}

label, input, select {
	display: inline-block;
	height: 30px;
	width: 70%;
	margin: 2px;
}

#contenedor_button_form {
	position: relative;
	padding-top: 0px;
}

a {
	color: rgb(0, 0, 0); /* Azul */
	text-decoration: none; /* Quitar el subrayado */
  }

.btn, button {
	align-items: center;
	appearance: none;
	background-color: #000000;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: "verdana";
	height: 48px;
	width: 100%;
	justify-content: center;
	white-space: nowrap;
	font-size: 16px;
}

.btn:hover, button:hover {
	color: rgb(142, 142, 142);
	
}

.btn:active, button:hover {
	box-shadow: #666666 0 3px 7px inset;
	transform: translateY(0px);
}

.btnOlvidasteContraseña {
	text-decoration: #000000;
}

/*****************************************************************************************
 '	 Contenedor para que se muestre en columas
 *****************************************************************************************/
#flats {
	display: grid;
	gap: 1rem;
	grid-auto-columns: 22rem;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#flats .flatsBox img {
	width: 100%;
	height: auto;
}
/*****************************************************************************************
 '		HOME DONDE SALE LA TABLA CON LAS PROPIEDADES
 *****************************************************************************************/
.flatsBox {
	/*display: block;*/
	width: 80%;
	margin: 10px;
	background-color: whitesmoke;
	border: 1px solid gray;
}

.flatsBox li {
	list-style: none;
}

.flatsBox img {
	margin-bottom: 10px;
}

.flatsBox input {
	display: inline;
	position: relative;
	width: auto;
	margin: 0px;
}


.imglogotipo{
	height: 150px;
	align-content: center;
}
img.imglogotipo{
	margin: auto;
	/* width: 200px;*/
}

/*****************************************************************************************
 '		FOOTER Y MENU FOOTER
 *****************************************************************************************/
#footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	width: 100%;
	align-content: center;
}

#footerMenu {
	
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	align-content: center;
}

#footerMenu a {
	margin: 0 15px 0 15px;
}

/*****************************************************************************************
 '		SELECCION DE FLATA FAVORITO
 *****************************************************************************************/
img.flatFavorito {
	width: 20px !important;
	height: 20px !important;
}

img.FlatNoFavorito {
	width: 20px !important;
	height: 20px !important;
	opacity: 0.2;
}


#encabezadohome{
	background-color: aqua;
	height: 50px;
	align-content: right;
}

#perfil{
position:absolute;
width: 30px;
right: 0%;
margin-right: 1rem;
margin-top: 1rem;
display: inline-block;

}

#saludo{
display: inline-block;
margin-left: 1rem;
margin-top: 1.5rem;
}

#cajaflat{
	margin-top: 0.5em;
	width: 100%;
	height: 15em;
	border-color: #ed0000;
	border-width: ancho;
	border-style: estilo;
	
}

#fotoflat{
	background-color: #666666;
	margin-top: 1em;
	width: 100%;
	height: 15em;

}

#descripciónflat{
	width: 40%;
	height: 3.5em;

}

#ciudadflat{
	width: 45%;
	height: 1.8em;
	float: left;
}

#likeflat{
	width: 45%;
	height: 1.8em;
	float: right;
}
#detalleflat{
	width: 45%;
	height: 1.8em;
	float: left;
	
}

#precioflat{
	width: 45%;
	height: 1.8em;
	float: right;
}

#estadoflat{
	width: 45%;
	height: 1.8em;
	float: left;
}